@import './variables';

.chat{
    .active-users{
        padding: 1rem;
        border-radius: 25px 25px 0 0;
        background-color: $lightGreen;
        display: flex;
        div{
            width: 3rem;
            svg{
                margin: auto;
            }
            p{
                text-align: center;
            }
        }
    }
    form{
        position: relative;
        height: 70vh;
        background-color: $mediumBlue;
        padding: 1rem;
        border-radius: 0 0 25px 25px;
        .message{
            background-color: white;
            width: 80%;
            margin: 1rem auto;
            border-radius: 25px;
            padding: 10px;
            .message-meta{
                display: flex;
                justify-content: flex-end;
            }
        }
        .chat-body{
            overflow-y: scroll;
            height: 100%;
        }
        .chat-footer{
            position: relative;
            margin: 2rem auto;
            bottom: 0;
            width: fit-content;
            border: 20px;
            input{
                border: 1px solid black;
                padding: 0 10px;
                border-radius: 25px;
            }
            button{
                background-color: $darkBlue;
                color: white;
                padding: 0 5px;
                border-radius: 10px;
            }
        }
    }
    .leave{
        width: 4rem;
        margin: auto;
        margin-top: 4rem;
        background-color: $red;
        color: white;
        border-radius: 10px;
        padding: 5px 10px ;
    }
}