@import './variables';

.join-room{
    .username{
        input{
            display: block;
            margin: 0 auto;
            border: 1px solid black;
            padding: 0 10px;
            border-radius: 25px;
        }
        .join-error{
            color: $red;
        }
    }
    .rooms{
        background-color: $mediumBlue;
        padding: 1rem 0;
        border-radius: 25px;
        .room-1, .room-2, .room-3{
            height: 5.5rem;
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 1rem auto;
            background-color: white;
            border-radius: 25px;
            padding: 0 25px;
            p, h3{
                margin: auto 0;
            }
            .active-users{
                display: flex;
                height: 100%;
                svg{
                    height: 2rem;
                    margin: auto 0;
                }
            }
            button{
                width: 6.25rem;
                height: 2.063rem;
                margin: auto 0;
                color: white;
                background-color: $darkBlue;
                border-radius: 15px;
            }
        }
    }
}